<section class="relative">
	<div class="container">
		<div class="block-content">
			<h1 class="text-brand">Contact</h1>
			<div class="grid md:grid-cols-2 gap-10 md:gap-20">
				<div class="block-content">
					<h4>For a site visit and no obligation quote please call or email Pat Loughnan.</h4>
					<div class="flex flex-col gap-1">
						<div class="grid grid-cols-5 items-center gap-3">
							<span class="col-span-1">Phone:</span>
							<a href="tel:{{ options.phone }}" class="col-span-4">{{ options.phone }}</a>
						</div>
						<div class="grid grid-cols-5 items-center gap-3">
							<span class="col-span-1">Email:</span>
							<a href="mailto:{{ options.email }}" class="col-span-4">{{ options.email }}</a>
						</div>
						<div class="grid grid-cols-5 items-center gap-3">
							<span class="col-span-1">Address:</span>
							<span class="col-span-4">{{ options.address }}</span>
						</div>
						<div class="grid grid-cols-5 items-center gap-3">
							<span class="col-span-1">PO Box:</span>
							<span class="col-span-4">{{ options.po_box }}</span>
						</div>
					</div>
				</div>
				{{ fn('do_shortcode', '[gravityform id="2" title="false" ajax="true" description="false"]') }}
			</div>
		</div>
	</div>
</section>
