<footer class="bg-brand font-heading text-lg !text-black">
	<div class="container py-6 sm:py-12">
		<div class="grid md:grid-cols-2 gap-10">
			<div class="block-content max-md:order-2">
				<span class="is-h1">Contact</span>
				<div class="flex flex-col gap-1">
					<div class="grid grid-cols-5 items-center gap-3">
						<span class="col-span-1">Phone:</span>
						<a href="tel:{{ options.phone }}" class="col-span-4">{{ options.phone }}</a>
					</div>
					<div class="grid grid-cols-5 items-center gap-3">
						<span class="col-span-1">Email:</span>
						<a href="mailto:{{ options.email }}" class="col-span-4">{{ options.email }}</a>
					</div>
					<div class="grid grid-cols-5 items-center gap-3">
						<span class="col-span-1">Address:</span>
						<span class="col-span-4">{{ options.address }}</span>
					</div>
					<div class="grid grid-cols-5 items-center gap-3">
						<span class="col-span-1">PO Box:</span>
						<span class="col-span-4">{{ options.po_box }}</span>
					</div>
				</div>

				<a href="{{ options.facebook }}" target="_blank">
					<svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" viewbox="0 0 24 24"><path d="M12 0c-6.627 0-12 5.373-12 12s5.373 12 12 12 12-5.373 12-12-5.373-12-12-12zm3 8h-1.35c-.538 0-.65.221-.65.778v1.222h2l-.209 2h-1.791v7h-3v-7h-2v-2h2v-2.308c0-1.769.931-2.692 3.029-2.692h1.971v3z"/></svg>
				</a>

				<span>
					&copy;
					{{ 'now'|date('Y') }}
					Stirling Asphalt. All Rights Reserved.
				</span>
			</div>
			{% if options.location_map %}
				{{ options.location_map }}
			{% endif %}
		</div>
	</div>
</footer>
