{% if menu %}
	{# Desktop #}
	<ul class="relative z-10 items-center hidden sm:flex">
		{% for item in items %}
			<li class="{{ item.classes|join(' ') }} relative flex items-center gap-1 group">
				<a target="{{ item.target }}" href="{{ item.link }}" class="{{ item.slug == post.slug ? '!text-brand current-menu-item-anchor' }} menu-item-anchor flex text-white items-center gap-1 font-heading py-4 px-4 uppercase text-xl transition-all duration-200 ease">
					{{ item.title }}
					{% if item.children %}
						{{ include('templates/icons/chevron.twig') }}
					{% endif %}
				</a>
				{% if item.children %}
					{{
						include(
							'templates/partial/sub-menu.twig',
							{
								items: item.children
							}
						)
					}}
				{% endif %}
			</li>
		{% endfor %}
	</ul>
	{# Mobile #}
	<button data-toggle-menu class="sm:hidden mx-auto flex items-center gap-2 py-3">
		<span class="font-heading text-white text-xl">Menu</span>
		{{ include('templates/icons/hamburger.twig') }}
	</button>
	<ul data-menu class="bg-black flex flex-col gap-6 opacity-0 pointer-events-none relative top-0 right-0 w-full h-0 sm:hidden">
		<div class="mt-3 flex-grow flex flex-col">
			{% for item in items %}
				<div data-mobile-menu-item class="space-y-1">
					<div class="flex items-center justify-between">
						<a href="{{ item.url }}" class="text-xl py-1 pr-12 font-heading text-white uppercase">{{ item }}</a>
						{% if item.children %}
							<button data-toggle-mobile-sub-menu>{{ include('templates/icons/chevron.twig') }}</button>
						{% endif %}
					</div>
					{% if item.children %}
						<ul data-mobile-sub-menu class="space-y-1 hidden py-2">
							{% for item in item.children %}
								<li>
									<a href="{{ item.url }}" class="group w-full flex uppercase items-center pl-3 py-1 text-xl font-heading text-brand">
										{{ item }}
									</a>
								</li>
							{% endfor %}
						</ul>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</ul>
{% endif %}
